<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            @Html.ActionLink("Softox", "Index", "Home", null, new { @class = "brand" })
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        @Html.ActionLink("Catégories", "Index", "Category")
                    </li>
                    <li>
                        @Html.ActionLink("Classements", "Index", "Top")
                    </li>
                    <li>
                        @Html.ActionLink("Utilisateurs", "Index", "User")
                    </li>
                </ul>
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
            </div>
        </div>
    </div>
</div>
<script>$(".nav a[href='/@ViewContext.RouteData.Values["Controller"]']").parent().addClass("active");</script>